<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/contents" method="post">
    <label class="form-label" for="judul">judul</label>
    <input type="text" id="judul" name="judul">
    <label class="form-label" for="isi">isi</label>
    <input type="text" id="isi" name="isi">
    <label class="form-label" for="gambar">gambar</label>
    <input type="text" id="gambar" name="gambar">
    <div>
      <button>add</button>
    </div>
  </form>

</body>

</html>