<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <% dataContents.forEach(function(content) { %>
  <p><%= content.judul %></p>
  <p><%= content.isi %></p>
  <img src="<%= content.gambar %>" alt="Image">
  <% }); %>

</body>

</html>